n {
	width: 110px;
	height: 30px;
	font-size:40px;
	top: 50%;
	position:relative;
}
body {
    height: 95vh;
}
@media screen and (min-width:600px){
	.rec1 {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-auto-rows: 1fr 1fr 1fr;
		grid-gap: 15px;
		grid-template-areas:
			"header header header"
			"contentB contentB contentE"
			"contentC contentD contentE";
		width: 100%;
		height: 95%;
		background: #FFFFFF;
		border-radius: 16px;
	}

	.box{
		border: 3px solid blue;

	}

	.box1 {
		grid-area: header;
		background: #CCCCCC;
		text-align: center;
	}
	.box2 {
		grid-area: contentB;
		background: #CCCCCC;
		text-align: center;
	}
	.box3 {
		grid-area: contentC;
		background: #CCCCCC;
		text-align: center;
	}
	.box4 {
		grid-area: contentD;
		background: #CCCCCC;
		text-align: center;
	}
	.box5 {
		grid-area: contentE;
		background: #CCCCCC;
		text-align: center;
	}
}
@media screen and (max-width:600px){
	.rec1 {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-auto-rows: 1fr 1fr;
		grid-gap: 15px;
		grid-template-areas:
			"header header"
			"contentB contentB"
			"contentC contentD"
			"contentE contentE";
		width: 100%;
		height: 95%;
		background: #FFFFFF;
	}

	.box{
		border: 3px solid blue;
	}

	.box1 {
		grid-area: header;
		background: #CCCCCC;
		text-align: center;

	}
	.box2 {
		grid-area: contentB;
		background: #CCCCCC;
		text-align: center;

	}
	.box3 {
		grid-area: contentC;
		background: #CCCCCC;
		text-align: center;

	}
	.box4 {
		grid-area: contentD;
		background: #CCCCCC;
		text-align: center;

	}
	.box5 {
		grid-area: contentE;
		background: #CCCCCC;
		text-align: center;

	}
}

